<mapper namespace="tech.fengjian.dao.IUserDao">

    <!--sql的唯一标识：namespace.id来组成： statementId-->
    <select id="findAll" resultType="tech.fengjian.pojo.User">
        select * from user
    </select>

    <select id="selectOne" resultType="tech.fengjian.pojo.User" parameterType="tech.fengjian.pojo.User">
        select * from user where id=#{id} and username=#{username}
    </select>

</mapper>